.css-1aquho2-MuiTabs-indicator {
  background-color: blue !important;
  transition-duration: 100ms !important;
}

.css-g4zyvf-MuiButtonBase-root-MuiTab-root {
  text-transform: none !important;
  font-size: 1.2rem !important;
  height: 60px;

  &:hover {
    background-color: rgb(233, 233, 233) !important;
  }

  &:focus {
    background-color: rgb(233, 233, 233) !important;
  }
}

.css-ptiqhd-MuiSvgIcon-root {
  color: blue;
}
