.card-piattaforme {

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.5s ease;

  &:hover {
    color: white;
    transform: translateY(-12px);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.7);
  }

    .card {
      width: 24%;
      min-width: 310px;
      height: auto;
      // width: 22rem;
      // height: 35rem;
      border-radius: 0%;
      text-decoration: none;
      color: inherit;
      border-radius: 0px;
      border: 0px;
      cursor: pointer;
      background-color: transparent;
  
      .card-body {
        color: white;
        span {
          font-size: 0.84rem;
        }
      }

      

}
  
    @media screen and (min-width: 1178px) {
      
    }
  
    @media screen and (max-width: 1178px) {
      .cards-container {
        max-width: 100%;
        min-width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .card {
          width: 40%;
          height: auto;

        }
      }
    }
  
    @media screen and (max-width: 770px) {
      .cards-container {
        display: flex;
        flex-direction: column;
  
        .card {
          width: 90%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          .card-body {
           
          }

          img {
            display: visible;
          }
  
          p {
            display: none;
          }
        }
      }
    }
}
  
.css-av60dp-MuiTypography-root {
  color: white;
}