.card-libreria-giochi {
  .card {
    width: 100%;
    min-width: 300px;
    height: auto;
    // width: 22rem;
    // height: 35rem;
    border-radius: 0%;
    text-decoration: none;
    color: white;
    border-radius: 0px;
    border: 0px;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    
    .h3-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 3rem 1rem 1rem 1rem;
        

      h3 {
        color: var(--white);
        margin-bottom: 1rem;
        
      }

      .arrow:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
      }
    }

    &:hover {
      color: white;
      transform: translateY(-12px);
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.7);
    }

    img {
      border-radius: 0px;
    }

    
  }

  @media screen and (min-width: 1178px) {
    .card-body {
      display: none;
    }
  }

  @media screen and (max-width: 1178px) {
    .cards-container {
      max-width: 100%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      

      .card {
        width: 40%;
        height: auto;
        transition: transform 0.5s ease, box-shadow 0.5s ease;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
        }

        .card-body {
          display: none;
        }

        .h5 {
          font-size: var(--h5-font-size-desktop);
        }
      }
    }
  }

  @media screen and (max-width: 770px) {
    .cards-container {
      display: flex;
      flex-direction: column;

      .card {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(38, 38, 41);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        transition: transform 0.5s ease, box-shadow 0.5s ease;

        .h3-container {
            display: none;
        }

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
        }

        .card-body {
          color: white;
          display: flex;
          background-color: rgb(38, 38, 41);
        }

        .spans-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        img {
          display: none;
        }

        p {
          display: none;
        }

        .h5 {
          font-size: var(--h3-font-size-mobile);
        }
      }
    }
  }
}


.erxmWj h3 {
  font-size: 2rem !important;
}