.carousel-wrapper {

  // Carousel Controls
  .carousel-control-next,
  .carousel-control-prev {
    position: static;
    width: 12%;
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-size: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
  }

  // Modal Styling
  .modal {
    --bs-modal-width: 100%;
    --bs-modal-bg: #000;

    .modal-content {
      height: 100vh;
      border-radius: 0;
    }

    .modal-header {
      border-bottom: none;
    }

    .modal-body {
      padding: 0;
    }

    .modal-dialog {
      margin: 0;
    }
  }

  .btn-trigger-modal {
    border: none;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 40px;
    bottom: 92px;
    border-radius: 50%;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .modalHeader {
    display: flex;
    justify-content: flex-end;

    .closeBtnModal {
      font-size: 24px;
      color: #fff;
      background-color: transparent;
      border: none;
      padding-right: 40px;
    }
  }
}
